#belowcont {
    display: flex;
    flex-direction: column;
}

#a {
    margin-top: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    /* width: 200px; */
}

#image1 {
    width: 70vw;
    height: 100vh;
    /* padding: 11px;
    margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}


.image-div {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
    height: 450px;
    overflow: hidden;
    background-color: #b6d3ff;
    cursor: pointer;
    text-decoration: none;
    color: black;
    /* position: relative; */
 
}

#box{
    display: flex;
    flex-direction: column;
}

.image-div img {
    /* position: absolute; */
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: contain;
   
}
#cont{
    /* font-size: 20px; */
    color: #000;
    font-weight: bolder;
}